:root {
    --fond : #151620;
    --main : #305394;
    --itemBG : #1f2a42;
    --itemUG : #344074;
    --hoverButton: #273B96;   
    --footerBG: #11121d;                                           
    --ecriture: #EEF1F8;
    --ecriture2: #838A9D;
    --font-main: 'Kanit', sans-serif;
    --font-lato: 'Lato', sans-serif;
}