:root {
    --fond : #182015;
    --main : #449430;
    --itemBG : #2d421f;
    --itemUG : #367434;
    --hoverButton: #309627;   
    --footerBG: #151d11;                                           
    --ecriture: #EEF1F8;
    --ecriture2: #838A9D;
    --font-main: 'Kanit', sans-serif;
    --font-lato: 'Lato', sans-serif;
}