:root {
    --fond : #1f1520;
    --main : #833094;
    --itemBG : #3c1f42;
    --itemUG : #653474;
    --hoverButton: #962796;   
    --footerBG: #1c111d;                                           
    --ecriture: #EEF1F8;
    --ecriture2: #838A9D;
    --font-main: 'Kanit', sans-serif;
    --font-lato: 'Lato', sans-serif;
}