:root {
    --fond : #201e15;
    --main : #948230;
    --itemBG : #423f1f;
    --itemUG : #746a34;
    --hoverButton: #968227;   
    --footerBG: #1d1c11;                                           
    --ecriture: #EEF1F8;
    --ecriture2: #838A9D;
    --font-main: 'Kanit', sans-serif;
    --font-lato: 'Lato', sans-serif;
}